body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px; 
    background-color: #E9EDEE;
}

.main-header {
    background-color: #222F3F;
    padding: 0.6rem; 
    color: white; 
}

.header-content {
    font-size: 0; 
    text-align: left; 
}

.header-content img {
    width: 6.25rem; 
    height: auto; 
    margin-right: 1.5rem; 
    vertical-align: middle; 
}

.banner-section {
    background-color: #364757;
    color: white;
    font-size: 0.7rem;
    padding: 0.4rem 1rem; 
    text-align: left;
}

.text-box {
    background-color: inherit; 
    color: inherit; 
    padding: 0; 
    margin-right: 0;
    box-sizing: border-box; 
    display: inline-block; 
    vertical-align: top; 
}

.jumbotron {
    background-color: #F56600;
    text-align: center;
    padding: 0.1rem;
    font-size: 0.7rem;
    margin: 0 auto; 
    max-width: 95%; 
    margin-top: 1.5rem; 
    color: white;    
}

.img1 {
    background-image: url(../img/bg-image.png);
    background-size: 100% auto; 
    background-position: center; 
    text-align: center;
    padding: 2rem;
    font-size: 0.7rem;
    margin: 1.4rem; 
    max-width: 95%; 
    margin-top: 1.5rem; 
    color: white;
}

.sezione1 {
    background-color: #FFFFFF; 
    text-align: center; 
    padding: 1rem; 
    margin: 1.4rem; 
    max-width: 95%; 
    margin-top: 1.5rem; 
    color: black;
}

.sezione1 p {
    margin: 0;
    padding-bottom: 0.5rem; 
}

.images-container {
    text-align: center; 
}

.sezione1 img {
    height: 21rem; 
    width: 17rem; 
    margin: 0.5rem; 
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block; 
}

.sezione2 {
    position: relative; 
    margin: 0 auto; 
    max-width: 95%; 
    max-height: 5%;
    margin-top: 1.5rem; 
    color: white; 
}

.background-image {
    background-image: url(../img/img_9.png); 
    background-size: cover; 
    background-position: center; 
    height: 20rem; 
}

.sezione2 {
    position: relative; 
    margin: 0 auto; 
    max-width: 95%; 
    max-height: 5%;
    margin-top: 1.5rem; 
    color: white; 
}

.sezione3 {
    position: relative; 
    margin: 0 auto;
    max-width: 95%; 
    max-height: 5%;
    margin-top: 1.5rem; 
    color: white; 
}

.sezione3 .background-image3 {
    background-image: url(../img/img_10.png); 
    background-size: cover; 
    background-position: center; 
    height: 20rem; 
}


.custom-section {
    padding-bottom: 0.7rem;
    background-color: #364757;
    color: white;
    text-align: center;
    margin-top: 1.5rem; 
    height: 2rem; 
}

.custom-section p {
    font-size: 1.2rem; 
}

.text-center {;
    max-width: 95%;
    margin: 0 auto;
}

.footer-banner {
    background-color: #222F3F;
    text-align: center;
    padding: 1rem 0;
}

.footer-banner img {
    padding-top: 1rem;
    padding-bottom: 2rem;
    max-width: 10%; 
    height: auto;
    display: block;
    margin: 0 auto; 
}

a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: grey; 
}